[project]
	description = Michael Weitner Agile Software Engineer Home
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Weitner (mweitner)
[access "refs/for/refs/*"]
	read = group user/Michael Weitner (mweitner)
	push = group user/Michael Weitner (mweitner)
	label-Code-Review = -2..+2 group user/Michael Weitner (mweitner)
	label-Verified = -1..+1 group user/Michael Weitner (mweitner)
	rebase = group user/Michael Weitner (mweitner)
	removeReviewer = group user/Michael Weitner (mweitner)
	submit = group user/Michael Weitner (mweitner)
[access "refs/heads/*"]
	read = group user/Michael Weitner (mweitner)
	create = group user/Michael Weitner (mweitner)
	push = +force group user/Michael Weitner (mweitner)
	pushMerge = group user/Michael Weitner (mweitner)
[access "refs/tags/*"]
	push = group user/Michael Weitner (mweitner)
	push = +force group user/Michael Weitner (mweitner)
